* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  font-family: $fnt-family2;
}
.main {
  flex-grow: 1;
}
.container {
  width: 100%;
  max-width: 1183px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
